.content {
  padding: 48px;
  max-width: 400px;
  margin: auto;
}

.label {
  color: #292f33;
  margin-bottom: 8px;
  font-size: 20px;
}

.label,
input {
  width: 100%;
}

.text {
  margin-top: 32px;
}